html{

}

body{
  background: #000;
  cursor: grabbing;

}

#contact{
/*display: none;*/
  background:#000;
  background-position: fill;
  position: absolute;
  width: 100%;
  height: 100%;
  border:15px solid #fff;
  z-index: -4;
<<<<<<< HEAD
}

#work{
/*display: none;*/
  background:#000;
  background-position: fill;
  position: absolute;
  width: 98%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -3;
  overflow: hidden;

}

.wrkmenuu{
  position: absolute;
  top: 56%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 250px;
  background: transparent;
  /*border: 2px solid #fff;*/
  /*display: none;*/
}
#wrkmenu, .wrkmenu1,.wrkmenu2,.wrkmenu3{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: transparent;
 /* top: 43%;
  left: 1%;*/
  top: 50%;
  left: 20%;
  background-position: left;
  color: #fff;
  padding-top:25px;
  text-align: center;
  font-size: 0.83em;
  cursor: pointer;

}
#wrkmenu{
  box-shadow:-3px 1px 2px #fff;
}
.wrkmenu1{
  box-shadow: 0px -3px 2px #fff;
  display: none;
}
.wrkmenu2{
  box-shadow: 4px 0.5px 2px #fff;
  display: none;
}
.wrkmenu3{
  box-shadow: 0px 3px 2px #fff;
  display: none;
}


.wrkholder{
  width: 300px;
  height: 60px;
  background: transparent;
  margin-top: 50px;
  margin-left: 5%;
}
.wrk{
 /* display: none;*/
  position: absolute;
  font-size: 5.3em;
  color:  #d9d9d9;
  font-weight: bold;
  margin-top: -20px;
}
.shade{
  position: absolute;
  left:5%;
  top: 13%;
  transform: translate(-50%;-50%);
   width: 300px;
  height: 30px;
  background: #000;
   box-shadow: -10px -10px 10px #000;
}



.wrktxt{
  width: 80%;
  margin-left: 10%;
  height: 70vh;
  background: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-top: 35px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -2;

=======
>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
}

#work{
/*display: none;*/
  background:#000;
  background-position: fill;
  position: absolute;
  width: 98%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -3;
}

<<<<<<< HEAD



.slide{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card{
  width: 100%;
  height: 100vh;
  display: flex;
  background: #fff;
}
.card-img{
  background-position: center;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#img01{
  background-image: url("01.jpg");
}
#img02{
  background-image: url("02.png");
}
#img03{
  background-image: url("03.jpg");
}
.card-content{
  padding: 10% 5%;
  box-sizing: border-box;
  width: 50%;
  background: #0a0a0a;

}
.card-theme{
  font-weight: 900;
  font-size: 1.7vmin;
  text-transform: uppercase;
  font-family:Arial Rounded MT Bold;
  letter-spacing: 10px;
  color: grey;
}
.card-header{
  font-weight: 700;
  font-size: 54px;
  text-transform: capitalize;
  line-height: 1;
  margin:3vmin 0 3.5vmin;
  color: #fff;
  font-family: Arial Rounded MT Bold;

}
.card-para{
  font-size: 1.6vmin;
  line-height: 1.8;
  font-family: Arial Rounded MT Bold;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  color: #fff;
}
.card-link{
  color: #fff;
  font-family: Arial Rounded MT Bold;
  font-size: 1.8vmin;
  display: block;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.card-link:after{
  content:"  !";
}


.prevnext{
  position: absolute;
  width: 4vmin;
  height: 8vmin;
  right: 10%;
  bottom: 0;
  top: 80%;
  color: #fff;
  margin: auto 0;
}
.pn-btn{
  color: #fff;
  width: 100%;
  height: 50%;  
  border: 0;
  background-color: transparent;
  font-size: 20px;

}
#prev, #next{
  position: relative;
  cursor: pointer;
}
#prev:focus, #next:focus{
  outline: none;

}
#prev:hover:after, #next:hover:after{
  opacity: 1

}
#prev:after, #next:after{
=======
#about{
/*display: none;*/
  background:#000;
  background-position: fill;
>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
  position: absolute;
  width: 96%;
  height: 100%;
<<<<<<< HEAD
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
#prev:after{
  content: "^"
}
#next:after{
  content: "v"
}






#about{
/*display: none;*/
  background:#000;
  background-position: fill;
  position: absolute;
  width: 96%;
  height: 100%;
  overflow: hidden;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -2;
}
.aboutholder{
  width: 300px;
  height: 60px;
  background: transparent;
  margin-top: 50px;
  margin-left: 5%;
}
.abt{
  display: none;
  position: absolute;
  font-size: 5.5em;
  color:  #d9d9d9;
  font-weight: bold;
  margin-top: -25px;
}
.shade{
  position: absolute;
  left:5%;
  top: 16%;
  transform: translate(-50%;-50%);
   width: 300px;
  height: 40px;
  background: #000;
   box-shadow: -10px -10px 10px #000;
}
.abtxt{
  display: none;
  width: 80%;
  margin-left: 10%;
  height: 70vh;
  background: #000;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-top: 35px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -2;


}

#abtscroll{
  width: 90%;
  margin-left: 5%;
  height: 250vh;
  background: transparent;
  border-bottom: 10px solid #ff0000;
  border-top: 10px solid #ff0000;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;

}
.abtmenuu{
  position: absolute;
  top: 56%;
  left: 1%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 250px;
  background: transparent;
  /*border: 2px solid #fff;*/
  /*display: none;*/
}
#abtmenu, .abtmenu1,.abtmenu2,.abtmenu3{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: transparent;
 /* top: 43%;
  left: 1%;*/
  top: 50%;
  left: 20%;
  background-position: left;
  color: #fff;
  padding-top:25px;
  text-align: center;
  font-size: 0.83em;
  cursor: pointer;

}
#abtmenu{
  box-shadow:-3px 1px 2px #fff;
}
.abtmenu1{
  box-shadow: 0px -3px 2px #fff;
  display: none;
}
.abtmenu2{
  box-shadow: 4px 0.5px 2px #fff;
  display: none;
}
.abtmenu3{
  box-shadow: 0px 3px 2px #fff;
  display: none;
}

#teq{
  display: none;
  background:#000;
  background-position: fill;
  position: absolute;
  width: 94%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -1;
}

#home{
/*display: none;*/
  background:transparent;
  background-position: fill;
=======
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -2;
}

#teq{
  display: none;
  background:#000;
  background-position: fill;
  position: absolute;
  width: 94%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -1;
}

#home{
/*display: none;*/
  background:transparent;
  background-position: fill;
  position: absolute;
  width: 94%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: 1;
  overflow: hidden;
}



.test{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 80px;
  height: 80px;
  z-index: 1;
  /*border: 2px solid #fff;*/
}
.hidden{
  display: none;
}

#logo{
  position: absolute;
  margin-top: -5%;

}

#logo1{
  position: absolute;
  margin-top: -5%;
 /* display: none;*/
}


.test{
  animation:grow 1.2s linear forwards;
  animation-delay: 1s;
  animation-iteration-count: 3;
  }

  .pull{
>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
  position: absolute;
  float: left;
  top: 50%;
  left:98%;
  transform: translate(2%,-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff; 
  cursor: pointer; 
  z-index: -1;
}
.topset{
  width: 94%;
<<<<<<< HEAD
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: 1;
  overflow: hidden;
}



.test{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 80px;
  height: 80px;
  z-index: 1;
  /*border: 2px solid #fff;*/
}
.hidden{
  display: none;
}

#logo{
  position: absolute;
  margin-top: -5%;

}

#logo1{
  position: absolute;
  margin-top: -5%;
 /* display: none;*/
}


.test{
  animation:grow 1.2s linear forwards;
  animation-delay: 1s;
  animation-iteration-count: 3;
  }

  .pull{
  position: absolute;
  float: left;
  top: 50%;
  left:98%;
  transform: translate(2%,-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff; 
  cursor: pointer; 
  z-index: -1;
}

.pull .one{
  position: absolute;
  left: 15%;
  top: 30%;
  width: 2px;
  height: 20px;
  background: #000;
} 
.pull .two{
  position: absolute;
  left: 25%;
  top: 20%;
  width: 2px;
  height: 30px;
  background: #000;
} 
.pull .three{
  position: absolute;
  left: 35%;
  top: 10%;
  width: 2px;
  height: 40px;
  background: #000;
} 
.topset{
  width: 94%;
  height: 80px;
  background: transparent;
  margin-top: 40px;
/*  display:none; */
  /*border:2px solid #fff;*/
}

=======
  height: 80px;
  background: transparent;
  margin-top: 40px;
  /*border:2px solid #fff;*/
}

>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
.brand{
  position: relative;
  width: 150px;
  height: 80px;
  background: transparent;
  margin-top: -2px;
}

.name{
  width: 200px;
  height: 63px;
  background-color: transparent;
}

.okarp{
  color: #fff;
  font-size: 2.7em;
  text-align: left;
    letter-spacing: 3px;
    padding-top: -5px;
  font-family: rockwell;
}
.agency{
  color: #fff;
  margin-top: -37px;
  text-align: left;
  font-size: 12px;
  margin-left: 15px;
  letter-spacing: 1px; 
}

.optimization{
  position: relative;
  float: right;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-right: 1.5%;
  margin-top:-50px;
}
#powered{
  position: relative;
  width: 45px;
  height: 18px;
  margin-top: 1px;
  background: -moz-linear-gradient(0deg, #000000,#262626, #a6a6a6, #ffffff);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  margin-right: -10%;
  color: #fff;
  line-height: 100%;
  padding-top:2px;
  cursor: pointer;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  transform:skewX(155deg);
 transition: background-color 2s;
}


.menuu{
  position: relative;
  width: 180px;
  height: 250px;
  background: transparent;
  /*border: 2px solid #fff;*/
  margin-left: 1%;
  margin-top:35vh;
<<<<<<< HEAD
  /*display: none;*/
=======
>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
}
#menu, .menu1,.menu2,.menu3{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: transparent;
  top: 50%;
  left: 20%;
<<<<<<< HEAD
  background-position: left;
  color: #fff;
  padding-top:25px;
  text-align: center;
  font-size: 0.83em;
=======
  color: #fff;
  padding-top:25px;
  text-align: center;
  font-size: 0.9em;
>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
  cursor: pointer;

}
#menu{
  box-shadow:-3px 1px 2px #fff;
}
.menu1{
  box-shadow: 0px -3px 2px #fff;
  display: none;
}
.menu2{
  box-shadow: 4px 0.5px 2px #fff;
  display: none;
}
.menu3{
  box-shadow: 0px 3px 2px #fff;
  display: none;
}

.navBottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: transparent;
<<<<<<< HEAD
  /*display: none;*/
=======
>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
/*  border-top:2px solid #ff0000;*/

}

.copyright{
  text-align: center;
  color: #fff;
  margin-left:3%;
  font-size: 1.1em;
    cursor: pointer;
  margin-top: 12px;
  float: left;
}

.privacy{
  text-align: center;
  color: #fff;
  margin-right:6%;
  font-size: 1em;
  margin-top: 17px;
  cursor: pointer;
  float: right;
}

.terms{
  text-align: center;
  color: #fff;
  margin-right:3%;
  font-size: 1em;
  margin-top: 17px;
     cursor: pointer;
  float: right;
}

@-webkit-keyframes grow{
  0%{
    width:80px;
    height:80px;
    
  }
  50%{
   width:90px;
   height: 90px;
    
  }
  100%{
    width:80px;
    height: 80px;
    
  }
  }

@media screen and (max-width: 800px) {

 #teq, #home, #about, #work{
   width: 100%;
  border-right:15px solid #fff;
}
.pull{
  display: none;
}
.test{
  left: 48%;
  width: 60px;
  height: 60px;
}

@-webkit-keyframes grow{
  0%{
    width:60px;
    height:60px;
    
  }
  50%{
   width:70px;
   height: 70px;
    
  }
  100%{
    width:60px;
    height: 60px;
    
  }
  }
  .topset{
  margin-top: 20px;
}


.okarp{
  font-size: 2.5em;
  letter-spacing: 2.5px;
  padding-top: -5px;
}
.agency{
  margin-top: -37px;
  font-size: 12px;
  margin-left: 15px;
  letter-spacing: 1px; 
}

.menuu{
  width: 130px;
  height: 200px;
  margin-left: 5%;
  margin-top:35vh;
<<<<<<< HEAD
}

#menu, .menu1,.menu2,.menu3{
  width: 60px;
  height: 60px;
  top: 50%;
    text-align: center;
  font-size: 0.8em;
  padding-top:23px;
}

.abtmenuu{
  width: 130px;
  height: 200px;
  margin-left: 5px;
}
#abtmenu, .abtmenu1,.abtmenu2,.abtmenu3{
  width: 60px;
  height: 60px;
  top: 50%;
  left: 20%;
  padding-top:22px;
  font-size: 0.8em;
}
.aboutholder{
  width: 250px;
  height: 40px;
  margin-top: 44px;
}
.abt{
  font-size: 4.7em;
  margin-top: -25px;
}
.shade{
  height: 30px;
}
.abtxt{
  width: 80%;
  margin-left: 10%;
  height: 70vh;
  margin-top: 35px;
  overflow: hidden;
}

#abtscroll{
  width: 90%;
  margin-left: 5%;
  height: 250vh;
  background: transparent;
  border-bottom: 10px solid #ff0000;
  border-top: 10px solid #ff0000;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;

=======
}

#menu, .menu1,.menu2,.menu3{
  width: 60px;
  height: 60px;
  top: 50%;
    text-align: center;
  font-size: 0.85em;
  padding-top:23px;
}

.privacy{
  margin-top: 15px;
}

.terms{
   margin-top: 15px;
}

>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
}
@media screen and (max-width: 480px) {

<<<<<<< HEAD
.privacy{
  margin-top: 15px;
}

.terms{
   margin-top: 15px;
}

}
@media screen and (max-width: 480px) {

 #teq, #home, #work, #about{
  border-right: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-bottom: none;
   width: 100%;
}
#contact{
 border:none;
}
.test{
  top: 48%;
  left: 49%;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes grow{
  0%{
    width:50px;
    height:50px;
    
  }
  50%{
   width:60px;
   height: 60px;
    
  }
  100%{
    width:50px;
    height: 50px;
    
  }
  }

  .topset{
  height: 60px;
  margin-top: 20px;

}

.optimization{
  font-size: 12px;
  margin-right: 3%;
  margin-top:-60px;
}

#powered{
  width: 42px;
  height: 16px;
  margin-right: -10%;

}

=======
 #teq, #home, #work, #about{
  border-right: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-bottom: none;
   width: 100%;
}
#contact{
 border:none;
}
.test{
  top: 48%;
  left: 49%;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes grow{
  0%{
    width:50px;
    height:50px;
    
  }
  50%{
   width:60px;
   height: 60px;
    
  }
  100%{
    width:50px;
    height: 50px;
    
  }
  }

  .topset{
  height: 60px;
  margin-top: 20px;
}

.optimization{
  font-size: 12px;
  margin-right: 3%;
  margin-top:-60px;
}

#powered{
  width: 42px;
  height: 16px;
  margin-right: -10%;

}

>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
.okarp{
  font-size: 2em;
/*  letter-spacing: 2.5px;
  padding-top: -5px;*/
}
.agency{
  font-size: 10px;
  margin-left: 5px;
}

.menuu{
  width: 100px;
  height: 180px;
  margin-left: 5%;
  margin-top:45vh;
}

#menu, .menu1,.menu2,.menu3{
  width: 50px;
  height: 50px;
<<<<<<< HEAD
   font-size: 0.65em;
  padding-top:19px;
}

.abtmenuu{
  width: 100px;
  height: 180px;
  margin-left: 5px;
}
#abtmenu, .abtmenu1,.abtmenu2,.abtmenu3{
  width: 50px;
  height: 50px;
  top: 50%;
  left: 20%;
  padding-top:20px;
  font-size: 0.65em;
}

.aboutholder{
  width: 150px;
  height: 30px;

}
.abt{
  font-size: 3em;
}
.shade{
  height: 20px; 
  margin-top:-20px; 
}
.abtxt{
  width: 100%;
  margin-left: 0;
  height: 80vh;
  margin-top: 15px;
}

#abtscroll{
  width: 100%;
  margin-left: 0;
  height: 250vh;
  border-bottom: 10px solid #ff0000;
  border-top: 10px solid #ff0000;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;

}

=======
   font-size: 0.8em;
  padding-top:18px;
}

>>>>>>> d8e20494b98436e5fac6c761db6b972ee40e3d3a
.copyright{
  font-size: 0.95em;
  margin-top: 17px;
}

.privacy{
  margin-right:4%;
  font-size: 0.9em;
  margin-top: 17px;
}

.terms{
  margin-right:3%;
  font-size: 0.9em;
   margin-top: 17px;
}

}



.abttxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border:2px solid #fff;
  display: none;
}
