html{

}

body{
  background: #000;
  cursor: grabbing;

}

#contact{
/*display: none;*/
  background:#000;
  background-position: fill;
  position: absolute;
  width: 100%;
  height: 100%;
  border:15px solid #fff;
  z-index: -4;
}

#work{
/*display: none;*/
  background:#000;
  background-position: fill;
  position: absolute;
  width: 98%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -3;
}

#about{
/*display: none;*/
  background:#000;
  background-position: fill;
  position: absolute;
  width: 96%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -2;
}

#teq{
  display: none;
  background:#000;
  background-position: fill;
  position: absolute;
  width: 94%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: -1;
}

#home{
/*display: none;*/
  background:transparent;
  background-position: fill;
  position: absolute;
  width: 94%;
  height: 100%;
  border-left:15px solid #fff;
  border-bottom:15px solid #fff;
  border-top:15px solid #fff;
  border-right:2px solid #fff;
  z-index: 1;
  overflow: hidden;
}



.test{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 80px;
  height: 80px;
  z-index: 1;
  /*border: 2px solid #fff;*/
}
.hidden{
  display: none;
}

#logo{
  position: absolute;
  margin-top: -5%;

}

#logo1{
  position: absolute;
  margin-top: -5%;
 /* display: none;*/
}


.test{
  animation:grow 1.2s linear forwards;
  animation-delay: 1s;
  animation-iteration-count: 3;
  }

  .pull{
  position: absolute;
  float: left;
  top: 50%;
  left:98%;
  transform: translate(2%,-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff; 
  cursor: pointer; 
  z-index: -1;
}
.topset{
  width: 94%;
  height: 80px;
  background: transparent;
  margin-top: 40px;
  /*border:2px solid #fff;*/
}

.brand{
  position: relative;
  width: 150px;
  height: 80px;
  background: transparent;
  margin-top: -2px;
}

.name{
  width: 200px;
  height: 63px;
  background-color: transparent;
}

.okarp{
  color: #fff;
  font-size: 2.7em;
  text-align: left;
    letter-spacing: 3px;
    padding-top: -5px;
  font-family: rockwell;
}
.agency{
  color: #fff;
  margin-top: -37px;
  text-align: left;
  font-size: 12px;
  margin-left: 15px;
  letter-spacing: 1px; 
}

.optimization{
  position: relative;
  float: right;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-right: 1.5%;
  margin-top:-50px;
}
#powered{
  position: relative;
  width: 45px;
  height: 18px;
  margin-top: 1px;
  background: -moz-linear-gradient(0deg, #000000,#262626, #a6a6a6, #ffffff);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  margin-right: -10%;
  color: #fff;
  line-height: 100%;
  padding-top:2px;
  cursor: pointer;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  transform:skewX(155deg);
 transition: background-color 2s;
}


.menuu{
  position: relative;
  width: 180px;
  height: 250px;
  background: transparent;
  /*border: 2px solid #fff;*/
  margin-left: 1%;
  margin-top:35vh;
}
#menu, .menu1,.menu2,.menu3{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: transparent;
  top: 50%;
  left: 20%;
  color: #fff;
  padding-top:25px;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;

}
#menu{
  box-shadow:-3px 1px 2px #fff;
}
.menu1{
  box-shadow: 0px -3px 2px #fff;
  display: none;
}
.menu2{
  box-shadow: 4px 0.5px 2px #fff;
  display: none;
}
.menu3{
  box-shadow: 0px 3px 2px #fff;
  display: none;
}

.navBottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: transparent;
/*  border-top:2px solid #ff0000;*/

}

.copyright{
  text-align: center;
  color: #fff;
  margin-left:3%;
  font-size: 1.1em;
    cursor: pointer;
  margin-top: 12px;
  float: left;
}

.privacy{
  text-align: center;
  color: #fff;
  margin-right:6%;
  font-size: 1em;
  margin-top: 17px;
  cursor: pointer;
  float: right;
}

.terms{
  text-align: center;
  color: #fff;
  margin-right:3%;
  font-size: 1em;
  margin-top: 17px;
     cursor: pointer;
  float: right;
}

@-webkit-keyframes grow{
  0%{
    width:80px;
    height:80px;
    
  }
  50%{
   width:90px;
   height: 90px;
    
  }
  100%{
    width:80px;
    height: 80px;
    
  }
  }

@media screen and (max-width: 800px) {

 #teq, #home, #about, #work{
   width: 100%;
  border-right:15px solid #fff;
}
.pull{
  display: none;
}
.test{
  left: 48%;
  width: 60px;
  height: 60px;
}

@-webkit-keyframes grow{
  0%{
    width:60px;
    height:60px;
    
  }
  50%{
   width:70px;
   height: 70px;
    
  }
  100%{
    width:60px;
    height: 60px;
    
  }
  }
  .topset{
  margin-top: 20px;
}


.okarp{
  font-size: 2.5em;
  letter-spacing: 2.5px;
  padding-top: -5px;
}
.agency{
  margin-top: -37px;
  font-size: 12px;
  margin-left: 15px;
  letter-spacing: 1px; 
}

.menuu{
  width: 130px;
  height: 200px;
  margin-left: 5%;
  margin-top:35vh;
}

#menu, .menu1,.menu2,.menu3{
  width: 60px;
  height: 60px;
  top: 50%;
    text-align: center;
  font-size: 0.85em;
  padding-top:23px;
}

.privacy{
  margin-top: 15px;
}

.terms{
   margin-top: 15px;
}

}
@media screen and (max-width: 480px) {

 #teq, #home, #work, #about{
  border-right: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-bottom: none;
   width: 100%;
}
#contact{
 border:none;
}
.test{
  top: 48%;
  left: 49%;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes grow{
  0%{
    width:50px;
    height:50px;
    
  }
  50%{
   width:60px;
   height: 60px;
    
  }
  100%{
    width:50px;
    height: 50px;
    
  }
  }

  .topset{
  height: 60px;
  margin-top: 20px;
}

.optimization{
  font-size: 12px;
  margin-right: 3%;
  margin-top:-60px;
}

#powered{
  width: 42px;
  height: 16px;
  margin-right: -10%;

}

.okarp{
  font-size: 2em;
/*  letter-spacing: 2.5px;
  padding-top: -5px;*/
}
.agency{
  font-size: 10px;
  margin-left: 5px;
}

.menuu{
  width: 100px;
  height: 180px;
  margin-left: 5%;
  margin-top:45vh;
}

#menu, .menu1,.menu2,.menu3{
  width: 50px;
  height: 50px;
   font-size: 0.8em;
  padding-top:18px;
}

.copyright{
  font-size: 0.95em;
  margin-top: 17px;
}

.privacy{
  margin-right:4%;
  font-size: 0.9em;
  margin-top: 17px;
}

.terms{
  margin-right:3%;
  font-size: 0.9em;
   margin-top: 17px;
}

}



.abttxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border:2px solid #fff;
  display: none;
}
